div{
    border: 2px solid rgb(75, 84, 100);
    padding: 10px;
    margin: 10px;
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h3{
    text-decoration: underline cornflowerblue;
    background-color: burlywood;
    width: 45%;
}